<p id="notice"><%= notice %></p>

<table>
	<tr>
	<td><%= image_tag @book.picture_url(:thumb) if @book.picture? %> </td>
	<td align= "center" width=400>
		<p><strong>Title</strong>
  		<%= @book.title %></p>
  		<p><strong>ISBN:</strong>
  		<%= @book.isbn %></p>
  		<p><strong>Author:</strong>
  		<%= @book.author %></p>
  		 <p><strong>Created By:</strong>
  		<%= @book.owner.username %></p>
	</td>
	</tr>
</table>
<%= render partial: "follow_form" %>
<p><%= rating_for @book, "title", :start => 5%></p>

<%#= link_to "Add a review", book_reviews_path(@book) %>

<%= render partial: "reviews/new" %>
<h4>Reviews</h4>
<div id="reviews">
	<% if @book.reviews.count < 1 %>
		<h4>No reviews yet</h4>
	<% end %>
	<%= render  @book.reviews.reload %>
</div>
<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
