<p id="notice"><%= notice %></p>

<p>
  <strong>Title</strong>
  <%= @book.bk_title %>
</p>

<p>
  <strong>ISBN:</strong>
  <%= @book.bk_isbn %>
</p>
<p>
  <strong>Author:</strong>
  <%= @book.bk_author %>
</p>
<p><%= image_tag @book.picture if @book.picture? %> </p>
<p><%= rating_for @book, "bk_title", :start => 5%></p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
