<h1>Listing reviews</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th>User</th>
      <th>Book</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.text %></td>
        <td><%= review.user_id %></td>
        <td><%= review.book_id %></td>
        <td><%= link_to 'Show', book_review_path(@book, review) %></td>
        <td><%= link_to 'Edit', edit_book_review_path(@book, review) %></td>
        <td><%= link_to 'Destroy', book_review_path(@book, review), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Review', new_book_review_path %>
