<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @review.text %>
</p>

<p>
  <strong>User:</strong>
  <%= @review.user_id %>
</p>

<p>
  <strong>Book:</strong>
  <%= @review.book_id %>
</p>

<%= link_to 'Edit', edit_book_review_path(@review.book, @review) %> |
<%= link_to 'Back', book_reviews_path(@review.book) %>
